@model IEnumerable<ReactApplication.Models.Store>

@{
    ViewBag.Title = "Index";
}
<br />

<p>
    @Html.ActionLink("New Store", "Create", "StoresController",  new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>Actions</th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink(" EDIT", "Edit", new { id = item.Id}, new{@class="btn btn-warning glyphicon glyphicon-edit"})

        </td>
        <td>

            @Html.ActionLink(" DELETE", "Delete",  new { id = item.Id}, new{@class = "btn btn-danger glyphicon glyphicon-trash" })
        </td>
    </tr>
}

</table>
